<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-primary" ng-disabled="vm.jobTitle !== 'ItemReader' && !vm.enableAll" ng-click="vm.buttonClicked('GET')">Read</button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-primary" ng-disabled="vm.jobTitle !== 'ItemWriter' && !vm.enableAll" ng-click="vm.buttonClicked('PUT')">Write</button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-primary" ng-disabled="vm.jobTitle !== 'ItemDeleter' && !vm.enableAll" ng-click="vm.buttonClicked('DELETE')">Delete</button>
    </div>
    <div class="col-xs-2">
        <input type="checkbox" ng-model="vm.enableAll">Enable All </input>
    </div>
</div>

<p class="row">
    <div class="col-xs-6">
        <input type="text" ng-model="vm.result" class="form-control"/>
    </div>
</p>